* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  text-decoration: none;
}
nav > ul > li {
  display: inline;
  margin: 20px;
  font-size: 1.4em;
}
nav > img {
  height: 50px;
}

.banner {
  background-image: url("https://images.pexels.com/photos/3944405/pexels-photo-3944405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.banner__header {
  display: flex;
  justify-content: space-evenly;
}

.first {
  max-width: 1000px;
  margin-top: 150px;
}

strong {
  color: #ae69ea;
}

.second {
  margin-top: 150px;
  border: 1px solid lightgrey;
  height: 300px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.295);
}
.second > h1 {
  font-size: 1.3em;
  margin-top: 10px;
}
input::placeholder {
  text-align: center;
}
input {
  margin-top: 20px;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgrey;
}

.buttons {
  margin-top: -20px;
  padding: 50px;
  display: grid;
}

.btn_first {
  background-color: #ae69ea;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn_second {
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 25px;
  color: #ae69ea;
  cursor: pointer;
  border: 1px solid #ae69ea;
}

.middle {
  text-align: center;
  margin-top: 70px;
  line-height: 1.5;
}
.middle > h1 {
  color: #ae69ea;
  font-size: 1.8em;
}
.middle > h3 {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  font-size: 1.4em;
}

.services {
  line-height: 1.5;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1em;
}
.services > h2 {
  font-size: 0.5em;
}
.p {
  max-width: 25em;
}
i {
  color: #ae69ea;
  margin: auto 0;
  margin-bottom: 20px;
}

.btn-demo {
  margin: 40px auto;
  display: block;
  padding: 20px 80px;
  border: none;
  background-color: #ae69ea;
  color: white;
  cursor: pointer;
  border-radius: 25px;
}

btn-demo:focus {
  outline: 0 !important;
}

.offer {
  background-image: url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
}
.row {
  margin: initial !important;
}
.subscribe {
  max-width: 500px;
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}
.subscribe a {
  width: 100px;
  display: block;
  color: white !important;
  background: #ae69ea;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.offer img {
  width: 300px;
  height: 400px;
  margin: -100px;
  margin-top: 150px;
}

hr {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Reviews {
  margin-top: 30px;
}
.Reviews > h1 {
  text-align: center;
}
.persons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.person__one > img {
  border-radius: 50%;
  text-align: center;
}
.person__one > h2 {
  font-size: 1.8em;
  margin: 20px 0 0 -20px;
}
.testomo {
  font-size: 1.6em;

  margin-top: 30px;
  text-align: center;
  max-width: 1205px;
  margin: 30px auto;
}

.owner {
  margin-top: 30px;
  text-align: center;
}
.owner > img {
  border-radius: 50%;
}
.best {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
}
.best__right > h1 {
  font-size: 1.6em;
}

.best > img {
  height: 360px;
}

.best__first {
  display: flex;
  align-items: center;
}
.best__first > i {
  margin-right: 10px;
  margin-top: 5px;
}
.best__first > h2 {
  font-size: 1.4em;
}
.best__bottom {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  background-color: #343b3f;
  height: 50px;
  color: #ae69ea;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .banner__header {
    flex-direction: column;
  }
  .first {
    text-align: center;
  }
  .second {
    margin-top: 0;
    align-self: center;
  }
}

@media screen and (max-width: 925px) {
  nav {
    display: block;
  }
  nav > img {
    display: block;
    margin: 0 auto;
  }
  .first {
    margin-top: 0;
  }
  .best {
    align-items: center;
    flex-direction: column;
  }
  .best > img {
    height: 200px;
    width: 360px;
  }
  .best__right > h1 {
    text-align: center;
  }
  .best__right > p {
    text-align: center;
  }
  .second {
    height: 250px;
  }
  .buttons {
    margin-top: 0;
    padding: 0;
    display: block;
  }
  .services {
    flex-direction: column;
  }
  .persons {
    flex-direction: column;
    align-items: center;
  }
}
